#about {
    .wrap {
        height: 600px;
        background-color: aqua;
        display: flex;
        justify-content: center;
        align-items:center ;

        h2 {
           text-align: center;
           display:flex ;
        }
        p{
          

       
        }
    }
